.saas-theme {
  --color-accent-50: oklch(98.2% 0.018 155.826);
  --color-accent-100: oklch(96.2% 0.044 156.743);
  --color-accent-200: oklch(92.5% 0.084 155.995);
  --color-accent-500: oklch(72.3% 0.219 149.579);
  --color-accent-600: oklch(62.7% 0.194 149.214);
  --color-accent-700: oklch(52.7% 0.154 150.069);
}
